<!DOCTYPE html>
<html>
<head>
    <title><%= user.username %>'s Pantry</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1><%= user.username %>'s Pantry</h1>
    <ul>
        <% pantry.forEach(item => { %>
            <li><%= item.name %></li>
        <% }) %>
    </ul>
</body>
</html>
